<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/resources/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" th:inline="text">
        /*<![CDATA[*/
        $(function(){
            $("#invite").click(function(){
                $.ajax({
                    type: "GET",
                    url: "/invite_vacancy/[[${vacancy.id}]]"
                }).done(function( msg ) {
                            $("#invite_btn").html("<span style='color:blue'>Резюме отправлено</span>");
                        });
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div class="container" style="min-width: 1000px">
    <div th:include="layout :: header(vacancy)"></div>
    <h3 th:text="${vacancy.title}">Менеджер</h3>
    <h5><a th:href="'/company/' + ${vacancy.company.id}" th:text="${vacancy.company.name}">Иван Иванович</a></h5>

    <div class="jumbotron" style="padding: 10px 30px 20px">
        <div class="row">
            <div class="col-xs-3"><h4>Salary</h4><h5 th:text="${vacancy.salary}">12345</h5></div>
            <div class="col-xs-2"><h4>Опыт</h4><h5 th:text="${vacancy.experience}">2 года</h5></div>
            <div class="col-xs-2"><h4>Город</h4><h5 th:text="${vacancy.city}">Казань</h5></div>
        </div>
        <div class="jumbotron" style="background-color: #ffffff;">
            <p th:text="${vacancy.description}" style="font-size: 14px;" >description</p>
        </div>
    </div>
    <span id="invite_btn"> <a class="btn btn-primary btn-lg" role="button" id="invite">Откликнуться</a></span>
    <a class="btn btn-primary btn-lg" th:href="${'/vacancy/edit/'+vacancy.id}">Редактировать</a>
    <a class="btn btn-primary btn-lg" th:href="${'/vacancy/delete/'+vacancy.id}">Удалить</a>
</div>
</body>
</html>